/*
	Web Design Portfolio Project
	Name: Emerald DeJong
	Date: 5/3/2023

	The main stylesheet of the Portfolio site.
	Filename: main.css
*/

/* HTML and Body Styles */
html {
	width: 100%;
}

body {
	background-color: rgb(2,56,35);
	font-family: Verdana, Geneva, sans-serif;
}

a {
	text-decoration: none;
}

div#wrap {
	width: 960px;
	margin: auto;
}

div#LinkedIN_Link {
	background-color: rgb(24,24,24);
	width: 40%;
	float: right;
	padding-left: auto;
	padding-right: 5%;
	border-radius: 5%;
}

div#LinkedIN_Link > p {
	padding-left: 4%;
}

div#LinkedIN_Link > a > img {
	width: 90%;
	padding-left: 5%;
	padding-right: auto;
}

/* Nav Styles */
nav {
	float: left;
	width: 25%;
	background-color: rgb(24,24,24);
	border-radius: 10%;
	margin-bottom: 5px;
	margin-right: 15px;
}

nav > ul {
	list-style-type: none;
}

nav a {
	text-decoration: none;
}

nav a:link {
	color: rgb(149,207,172);
}
nav a:visited {
	color: rgb(108,150,125);
}
nav a:active {
	color: rgb(76,76,122);
}
nav a:hover {
	color: rgb(112,112,182);
}

/* Article Styles */
article {
	padding: 10px;
	color: rgb(176, 171, 197);
}

article > p {
	padding: 5px;
}

/* Section Styles */
section#Hobbies {
	width: 50%;
	float: left;
	margin-left: 1%;
	margin-right: auto;
}

section#Hobbies > ul {
	list-style-type: square;
}

section#auroraProject > ul {
	list-style-type: square;
}

section#Hobbies > ul > li {
	color: rgb(170, 183, 173);
}

section.projects > p {
	font-size: 1.2em;
	margin: 10px;
}

section.projects > img {
	width: 45%;
	text-wrap: wrap;
	float: right;
	padding: 10px;
}

/* Aside Styles */
aside {
	background-color: rgb(170, 183, 173);
	border-radius: 25px;
	width: 40%;
	float: right;
	margin-left: auto;
	margin-right: 4%;
	position: absolute;
	bottom: -1220px;
	right: 10px;
}

aside > h2 {
	color: rgb(232, 224, 232);
	font-size: 1.2em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

aside > img {
	padding-left: auto;
	padding-right: auto;
}

p.asideText {
	font-size: 0.75em;
	font-style: italic;
	padding: 5px;
	text-align: center;
}

/* Heading Styles */
header h1 {
	padding-left: 3%;
	color: rgb(232,224,232);
	font-size: 1.75em;
}

h1 {
	font-size: 2em;
}

h1#projects {
	color: rgb(142, 142, 194);
	font-size: 1.5em;
}

h2 {
	background-color: rgb(45, 42, 53);
	color: rgb(232, 224, 232);
	font-size: 1.25em;
}

/* Image Styles */
img {
	width: 95%;
}

/* Footer Styles */
div > footer {
	background: url(footer_background.png);
	color: black;	
	display: block;
	padding: 25px;
	border: 2px solid rgb(28, 10, 10);
	float: left;
	bottom: 0px;
	left: 0px;
	width: 960px;
}

footer > address {
	font-size: 0.75em;
	text-align: center;
}

footer > a {
	color: black;
}

footer::after {
   clear: both;	
   content: "";
   display: table;
}

/* Table Styles */
table.home {
	border: 1px solid rgb(232,224,232);
	border-collapse: collapse;
	width: 55%
}

table.home th {
	color: rgb(136,183,184);
	background-color: rgb(10, 0, 56);
}

table.home td {
	padding: 5px;
	border: 2px dotted rgb(232,224,232);
	background-color: rgb(0,0,110);
	color: rgb(142, 142, 194);
	font-size: 1.15em;
	font-style: italic;
}

table.home caption {
	caption-side: bottom;
	text-align: right;
}

/* Forms Sheets */
div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 7px 0px;
}

fieldset#busiInfo {
	background-color: rgb(170, 183, 173);
	border-radius: 12px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}

legend {
	background-color: rgb(10, 0, 56);
	color: white;
	padding: 5px;
}