body {
	background-color: black;
}

header {
	background-color: #505050;
}

img.mainPageLogo {
	padding: 10px
}

img.mainLogo {
	float: left;
	height: 100px;
	position: relative;
	top: -100px;
}

img.oldLogo {
	float: right;
	height: 100px;
	position: relative;
	top: -100px;
}

nav.container {
	display: flex;
	border: 5px outset #2828B4;
	background-color: #282873;
	padding: 4px;
}

nav.container > div {
	border: 4px outset grey;
	background-color: #3c3c91;
	padding: 5px;
	color: white;
}

.navLink {
	color: white;
	text-align: center;
	text-decoration: none;
}

section {
	background-color: white;
	color: black;
	padding: 10px;
}

footer {
	background-color: lightgray;
	color: black;
	padding: 10px;
	line-height: 100px;
	font: 13pt black Arial, serif;
	font-style: normal;
}

h1 {
	font: 18pt black Arial, serif;
	font-style: bold;
}

p {
	font: 12pt black Arial, serif;
}

table {
	border: 5px outset #2828B4;
}

th, td {
	border: 2px solid black;
	padding: 2px;
	font-size: 12pt;
}

.warning {
	color: red;
}